body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    border-color: black;
    border-style: solid;
}

.no-grid{
    border-color: none;
}

.slider {
    width: 100%;
    height: 25px; 
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.size {
    display: flex;
    justify-content: center;
}

.grid-options-container {
    display: flex;
    padding: 20px;
    gap: 10px;
}

button {
    background-color: inherit;
}

button .clicked {
    background-color: lightslategray;
    
}

